@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat';
}

.container{
  margin: auto;
  width: 50%;
}

.full{
  background-color: #FFFFFF;
  padding: 15px 30px 0px 30px;
  height: 100%;
  margin-bottom: 10px;
}

.contain{
  margin-bottom: 10px;
}

.pointer{
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}

.button-action{
  margin-right: 5px;
}
