<template>
  <div class="container">
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" class="full">
      <h3>Dashboard</h3>
    </vs-col>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" class="full">
      <div class="pointer" @click="fetchUsers()">
        All User 
      </div>
      <div v-if="isUser || isContent" class="pointer" @click="fetchUser()">
        >>> User Post 
      </div>
      <div v-if="isContent" class="pointer" @click="fetchContent()">
        >>> Content Post
      </div>
    </vs-col>
    <all-user-view/>
    <user-view/>
    <content-view/>
  </div>
</template>

<script>

import AllUserView from './partials/AllUser.vue';
import UserView from './partials/User.vue';
import ContentView from './partials/Content.vue';

export default {
    components: {
      AllUserView,
      UserView,
      ContentView
    },
    computed: {
        isAllUser () {
            return this.$store.state.dashboard.isAllUser
        },
        isUser () {
            return this.$store.state.dashboard.isUser
        },
        isContent () {
            return this.$store.state.dashboard.isContent
        },
    },
    methods:{
      fetchUsers(){
        this.$store.commit('dashboard/SET_ALL_USER', true);
      },
      fetchUser(){
        this.$store.commit('dashboard/SET_USER', true);
      },
      fetchContent(){
        this.$store.commit('dashboard/SET_CONTENT', true);
      },
      getAllUser(){
        this.$store.commit('dashboard/SET_ALL_USER', true);
        this.$store.dispatch('allUser/getData').then(() => {
        }).catch((error) => {
          console.log(error)
        }) 
      }
    },
    mounted() {
        this.getAllUser()
    },
}
</script>