<template>
  <div v-if="isAllUser">
    <div v-for="(item, i) in items" :key="item+` `+i">
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" class="full">
        <vs-card class="cardx" fixedHeight>
          <div slot="header">
            <h3>
              {{ item.name }}
            </h3>
          </div>
          <div class="contain">
            <span>{{ item.email }}</span>
          </div>
          <div class="contain">
            <span>{{ item.address.street }}, {{ item.address.suite }}, {{ item.address.city }}, {{ item.address.zipcode }} </span>
          </div>
          <div class="contain">
            <span>{{ item.company.name }}</span>
          </div>
          <div slot="footer">
            <vs-row vs-justify="flex-end">
              <vs-button type="gradient" color="primary" @click="fetchUser(item.id)">View User Post</vs-button>
          </vs-row>
          </div>
        </vs-card>
      </vs-col>
    </div>
  </div>
</template>

<script>

export default {
  computed: {
    isAllUser() {
      return this.$store.state.dashboard.isAllUser
    },
    items() {
      return this.$store.state.allUser.items 
    }
  },
  methods:{
    fetchUser(idUser){
      this.$store.dispatch('user/getData', idUser).then(() => {
        this.$store.commit('dashboard/SET_USER', true);
      }).catch((error) => {
        console.log(error)
      }) 
    }
  },
}
</script>
