<template>
  <div v-if="isContent">
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" class="full">
        <vs-card class="cardx" fixedHeight>
          <div slot="header">
            <h3>
              {{ item.title }}
            </h3>
          </div>
          <div class="contain">
            <span>{{ item.body }}</span>
          </div>
          <div slot="footer">
            <vs-row vs-justify="flex-end">
              <vs-button type="gradient" color="danger" @click="backToUser()">Back to User Post</vs-button>
          </vs-row>
          </div>
        </vs-card>
      </vs-col>
  </div>
</template>

<script>

export default {
  computed: {
    isContent() {
      return this.$store.state.dashboard.isContent
    },
    item() {
      return this.$store.state.content.item
    }
  },
  methods:{
    backToUser(){
        this.timeout = setTimeout(() => {
          this.$store.commit('dashboard/SET_USER', true);
        }, 20)
    }
  },
}
</script>
