<template>
  <div v-if="isUser">
    <div v-for="(item, i) in items" :key="item+` `+i">
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-sm="12" vs-xs="12" class="full">
        <vs-card class="cardx" fixedHeight>
          <div slot="header">
            <h3>
              {{ item.title }}
            </h3>
          </div>
          <div class="contain">
            <span></span>
          </div>
          <div slot="footer">
            <vs-row vs-justify="flex-end">
              <vs-button type="gradient" color="danger" @click="backToAllUser()" class="button-action">Back to All User</vs-button>
              <vs-button type="gradient" color="primary" @click="fetchContent(item.id)">View Content Post</vs-button>
          </vs-row>
          </div>
        </vs-card>
      </vs-col>
    </div>
  </div>
</template>

<script>

export default {
  computed: {
    isUser() {
      return this.$store.state.dashboard.isUser
    },
    items() {
      return this.$store.state.user.items 
    }
  },
  methods:{
    fetchContent(idPost){
      this.$store.dispatch('content/getData', idPost).then(() => {
        this.$store.commit('dashboard/SET_CONTENT', true);
      }).catch((error) => {
        console.log(error)
      }) 
    },
    backToAllUser(){
        this.timeout = setTimeout(() => {
          this.$store.commit('dashboard/SET_ALL_USER', true);
        }, 20)
    }
  },
}
</script>
